# FastAPI & Uvicorn
fastapi~=0.111.0
uvicorn[standard]~=0.29.0

# Database
sqlmodel~=0.0.18
sqlalchemy~=2.0.30
pymysql~=1.1.0

# Celery & Message Queue
celery~=5.4.0
redis~=5.0.4
flower~=2.0.1

# HTTP & Parsing
requests~=2.31.0
beautifulsoup4~=4.12.3

# Utilities
tenacity~=8.2.3
typer[all]~=0.12.3
pydantic~=2.7.1
pydantic-settings~=2.2.1